<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- on click will get the list of todo for the ngfor to iterate as shown below -->
  <button (click)="get_my_todo()">GET todos</button>
</div>

<ul>
  <li *ngFor="let todo of todos" >
    -- user id: {{todo.userId}}
    -- id: {{todo.id}}
    -- title: {{todo.title}}
    -- completed: {{todo.completed}}  
  </li>
</ul> 

<div style="text-align:center">
  <h1>
    Welcome to generic api section
  </h1>
  <!-- on click will get the list of generic api for the ngfor to iterate as shown below -->
  <button (click)="get_my_generic()">GET generic response</button>
</div>

<ul>
  <li *ngFor="let generic of generics" >
    -- id: {{generic.id}}
    -- title: {{generic.title}}
    -- body: {{generic.body}}
  </li>
</ul> 